:root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --accent-color: #2196F3;
    --time-animation: cubic-bezier(0.4, 0, 0.2, 1)
}
// $primary-text-color: #757575;
// $secondary-text-color: #212121;
// $accent-color: #2196F3;
// $time-animation: cubic-bezier(0.4, 0, 0.2, 1);
/* Основа сторінки */
body {
    background-color: #Ffffff;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    z-index: 8;
}

ul {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.nothing {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-bottom: 94px;
    padding-top: 94px;
}

.title {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}